<p>
    <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile><img src="../../../assets/images/avatars-000029886950-zsqkij-t500x500.jpg"/> </mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/images/download.png"/> </mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/images/images (1).jpg"/> </mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/images/images (2).jpg"/> </mat-grid-tile>

        <mat-grid-tile><img src="../../../assets/images/images (3).jpg"/> </mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/images/images.jpg"/> </mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/images/Media-Monks.jpg"/> </mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/images/mediamonks-offices-singapore-1-700x467.jpg"/> </mat-grid-tile>
        </mat-grid-list>
</p>